<div class="row rounded-4 overflow-hidden ms-5 my-5 justify-content-between shadow w-100">
    <p class="col-12 w-100 text-center text-white fs-3 fw-bold tittle"> Centros de formacion</p>
    <app-inputs Titlle="Buscar" class="col-5"></app-inputs>
    <div class="col-6 p-0 w-auto h-auto align-self-center">
        <button class="btn btn-success w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2" data-bs-toggle="modal" data-bs-target="#addFichaModal">Crear</button>
        <!-- Modal -->
        <div class="modal fade" id="addFichaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-white" id="exampleModalLabel">Crear una nueva ficha</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="centrosData">
                    <label for="input_id" class="fw-bold mb-1 input-label">ingrese el numero de identificacion para el Centro <strong class="text-danger">*</strong></label>
                    <input formControlName="id" type="number" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_id">
                    <label for="input_nombre" class="fw-bold mb-1 input-label">Ingrese el nombre del Centro <strong class="text-danger">*</strong></label>
                    <input formControlName="nombre" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_nombre">
                    <label for="input_coordinador" class="fw-bold mb-1 input-label">Ingrese el nombre del Coordinador <strong class="text-danger">*</strong></label>
                    <input formControlName="coordinador" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_coordinador">
                    <label for="input_estado" class="fw-bold mb-1 input-label">Estado del Centro <strong class="text-danger">*</strong></label>
                    <select formControlName="estado" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_estado">
                      <option>Activo</option>
                      <option>inactivo</option>
                    </select>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
                  <button type="button" class="btn btn-primary"(click)="addCentro()" (click)="show()" [disabled]="centrosData.invalid" >Agregar Centro</button>
                </div>
              </div>
            </div>
          </div>
        <button class="btn btn-primary w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Actualizar</button>
        <button class="btn btn-danger w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Borrar</button>
    </div>
    <div class="row row-cols-4 w-100 my-2 m-0 text-center rounded-2 text-white fw-bold justify-content-between order-data">
        <p class="align-self-center fs-5 ">Id Centro</p>
        <p class="align-self-center fs-5 ">Nombre Centro</p>
        <p class="align-self-center fs-5 ">Estado</p>
        <p class="align-self-center fs-5 ">coordinador</p>
    </div>
    <td *ngFor="let centro of centros" class="row row-cols-4 fs-6 fw-semibold mx-1 my-1 text-center w-100 ">
        <tr class="data-square rounded-3">{{centro.id}}</tr>
        <tr>{{centro.nombre}}</tr>
        <tr class="data-square rounded-3">{{centro.estado}}</tr>
        <tr>{{centro.coordinador}}</tr>
    </td>
</div>
