<div class="row rounded-4 overflow-hidden ms-5 my-5 justify-content-between shadow w-100">
    <p class="col-12 w-100 text-center text-white fs-3 fw-bold tittle"> Centros de formacion</p>
    <app-inputs Titlle="Buscar" class="col-5"></app-inputs>
    <div class="col-6 p-0 w-auto h-auto align-self-center">
        <button class="btn btn-success w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2"(click)="addCentro()">Crear</button>
        <button class="btn btn-primary w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Actualizar</button>
        <button class="btn btn-danger w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Borrar</button>
    </div>
    <div class="row row-cols-5 w-100 my-2 m-0 text-center rounded-2 text-white fw-bold justify-content-between order-data">
        <p class="align-self-center fs-5 ">Nombre centro</p>
        <p class="align-self-center fs-5 ">Direccion</p>
        <p class="align-self-center fs-5 ">Regional</p>
        <p class="align-self-center fs-5 ">coordinador   
        <p class="align-self-center fs-5 ">Nro aprendices</p>
    </div>
    <td *ngFor="let centro of centros" class="row row-cols-5 fs-6 fw-semibold mx-1 my-1 text-center w-100 ">
        <tr class="data-square rounded-3">{{centro.nombre}}</tr>
        <tr>{{centro.direccion}}</tr>
        <tr class="data-square rounded-3">{{centro.regional}}</tr>
        <tr>{{centro.coordinador}}</tr>
        <tr class="data-square rounded-3">{{centro.aprendices}}</tr>
    </td>
</div>
