<body>
  <div class="container-fluid bg ">
          <div class="col-sm-10 col-md-5 col-lg-5 col-xl-5">
                  <img  class="img-fluid" src="./assets/LOGO GRANDE BLANCO.png" alt="header">
          </div>
      </div>
      <div class="tabletable-responsive-xxl m-5 ">
      <table class="table  table-bordered border-dark table-hover justify-content-center w-100 " >
          <thead class="table color text-white ">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th scope="col">Hyper</th>
          </thead>
          <tbody class="table-group-divider">
              <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdu</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Angela</td>
                  <td>Diaz</td>
                  <td>@mda</td>
                  <td>@mdi</td>
                </tr>
          </tbody>
        </table>
   </div>
   <div class="grid text-center g-col-ms-12 g-col-xl-6 m-4">
   <a class="btn-bd-primary" href="" role="button">Editar</a>
   <a class="btn-bd-primary" href="" role="button">Eliminar</a>
   </div>
</body>
