<div class="row rounded-4 overflow-hidden mx-1 my-3 shadow bg-white">
  <p class="col-12 w-100 text-center text-white fs-3 fw-bold tittle"> Programas</p>
  <app-inputs Titlle="Buscar" class="col-5"></app-inputs>
  <div class="col-6 p-0 w-auto h-auto align-self-center">
      
      <button class="btn btn-danger w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2" data-bs-toggle="modal" data-bs-target="#deleteAprendiz">Inhabilitar</button>
      <!-- Modal -->
      <div class="modal fade" id="deleteAprendiz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-white" id="exampleModalLabel">Inhabilitar Programa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="programasDelete">
                <select formControlName="id"  class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input">
                  <option  *ngFor="let programa of programas">{{programa.id}}</option>
                </select>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="unabePrograma()">Inhabilitar</button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2" data-bs-toggle="modal" data-bs-target="#updatePrograma">Actualizar</button>
       <!-- Modal -->
       <div class="modal fade" id="updatePrograma" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-white" id="exampleModalLabel">Agregar un Programa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="programasUpdate">
                <label for="updateId" class="fw-bold mb-1 input-label">Seleccione el programa <strong class="text-danger">*</strong></label>
                <select formControlName="id" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="updateId">
                  <option *ngFor="let programa of programas" >{{programa.id}}</option>
                </select>
                <label for="input_N" class="fw-bold mb-1 input-label">Ingrese el Nombre del programa <strong class="text-danger">*</strong></label>
                <input formControlName="nombre" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_N">
                <label for="input_estado" class="fw-bold mb-1 input-label">Seleccione el Estado del Programa <strong class="text-danger">*</strong></label>
                <select formControlName="enabled" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_estado">
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</button>
              <button type="button" class="btn btn-primary"(click)="updatePrograma()" [disabled]="programasUpdate.invalid" >Actualizar Programa</button>
            </div>
          </div>
        </div>
      </div>
    

  </div>
  <div class="row row-cols-3 w-100 my-2 m-0 text-center rounded-2 text-white fw-bold justify-content-between order-data">
      <p class="align-self-center fs-5 ">Id</p>
      <p class="align-self-center fs-5 ">Nombre</p>
      <p class="align-self-center fs-5 ">Estado</p>
  </div>
  <td *ngFor="let programa of programas" class="row row-cols-3 fs-6 fw-semibold mx-1 my-1 text-center w-100 " [ngClass]="{'d-none':!programa.enabled}">
      <tr class="data-square rounded-3">{{programa.id}}</tr>
      <tr>{{programa.nombre}}</tr>
      <tr class="data-square rounded-3">{{enabled(programa.enabled)}}</tr>
  </td>
    
</div>