<div class=" row overflow-hidden mx-1 my-2 shadow rounded-2  w-100 p-0  bg-white" >
    <h1 class="text-center text-white  tittle-box p-2 rounded-2">Agregar Ficha</h1>
    <div class="row row-cols-2 w-100 h-100 ps-5 pe-4 pt-2 pb-4">
            <form [formGroup]=" fichasDataCreate">
                <label for="input_nombreF" class="fw-bold mb-1 input-label">Seleccione el Programa <strong class="text-danger">*</strong></label>
                <select formControlName="programa" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_nombreF"  >
                  <option *ngFor="let programa of programas">{{programa.nombre}}</option>
                </select>
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="input_modalidadF" class="fw-bold mb-1 input-label">Seleccione la modalidad de la Ficha <strong class="text-danger">*</strong></label>
                <select formControlName="modalidad" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_modalidadF">
                  <option>Precencial</option>
                  <option>Virtual</option>
                  <option>Alternancia</option>
                </select>
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="instructorF" class="fw-bold mb-1 input-label">Ingrese la C.c del Instructor <strong class="text-danger">*</strong></label>
                <select formControlName="instructorCc" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="instructorF" >
                    <option *ngFor="let instructor of instructores">{{instructor.documento}}</option>
                </select>
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="input_centroF" class="fw-bold mb-1 input-label">Ingrese el Centro de Formacion <strong class="text-danger">*</strong></label>
                <select formControlName="centro" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_centroF" >
                  <option *ngFor="let centro of centros" >{{centro.nombre}}</option>
                </select>
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="input_fechaIF" class="fw-bold mb-1 input-label">Seleccione la Fecha de Inicio <strong class="text-danger">*</strong></label>
                <input formControlName="fechaInicio" type="text" placeholder="DD/MM/AAAA" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_fechaIF">
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="input_fechaF" class="fw-bold mb-1 input-label">Seleccione la Fecha de Fin <strong class="text-danger">*</strong></label>
                <input formControlName="fechaFin" type="text" placeholder="DD/MM/AAAA" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_fechaF">
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="input_etapaF" class="fw-bold mb-1 input-label">Seleccione la Etapa <strong class="text-danger">*</strong></label>
                <select formControlName="etapa" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_etapaF" >
                  <option>Lectiva</option>
                  <option>Productiva</option>
                </select>
            </form>
            <form [formGroup]=" fichasDataCreate">
                <label for="input_estadoF" class="fw-bold mb-1 input-label">seleccione el Estado <strong class="text-danger">*</strong></label>
                <select formControlName="estado" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_estadoF">
                    <option>Activo</option>
                    <option>Inactivo</option>
                 </select>
            </form>
            <div class="col-12 row justify-content-center   m-0 p-3 h-auto">
                <!-- TODO error validacion del formulario -->
                <button type="button" class="align-self-center btn w-auto btn-primary "(click)="addFicha()" [disabled]="fichasDataCreate.invalid">Agregar Ficha</button>
            </div>
    </div>
</div>