.tittle{
    background-color: var(--principal-color);
}
.order-data{
    background-color: var(--principal-color);
}
.data-square{
    background-color: rgba(0, 0, 0, 0.037);
}
.col-label{
    color: var(--principal-color);
    background-color: var(--principal-color-opacity-10);
}