<div class="row rounded-4 overflow-hidden ms-5 my-5 justify-content-between shadow w-100">
    <p class="col-12 w-100 text-center text-white fs-3 fw-bold tittle"> Fichas</p>
    <app-inputs Titlle="Buscar" class="col-5"></app-inputs>
    <div class="col-6 p-0 w-auto h-auto align-self-center">
        <button type="submit" class="btn btn-success w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2" data-bs-toggle="modal" data-bs-target="#addFichaModal" >Crear</button>
          <!-- Modal -->
        <div class="modal fade" id="addFichaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">Crear una nueva ficha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="fichasData">
                  <label for="input_id" class="fw-bold mb-1 input-label">Ingrese el numero de la Ficha <strong class="text-danger">*</strong></label>
                  <input formControlName="idFicha" type="number" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_id" >
                  <label for="input_id" class="fw-bold mb-1 input-label">ingrese el Nombre del Programa <strong class="text-danger">*</strong></label>
                  <input formControlName="nombre" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_nombre" >
                  <label for="input_id" class="fw-bold mb-1 input-label">Seleccione la modalidad de la Ficha <strong class="text-danger">*</strong></label>
                  <select formControlName="modalidad" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                    <option>Precencial</option>
                    <option>Virtual</option>
                    <option>Alternancia</option>
                  </select>
                  <label for="input_id" class="fw-bold mb-1 input-label">Ingrese el Nombre del Instructor <strong class="text-danger">*</strong></label>
                  <input formControlName="instructorN" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                  <label for="input_id" class="fw-bold mb-1 input-label">Ingrese el Apellido del Instructor <strong class="text-danger">*</strong></label>
                  <input formControlName="instructorA" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                  <label for="input_id" class="fw-bold mb-1 input-label">Ingrese el Centro de Formacion <strong class="text-danger">*</strong></label>
                  <input formControlName="centroFormacion" type="text" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                  <label for="input_id" class="fw-bold mb-1 input-label">Seleccione la Fecha de Inicio <strong class="text-danger">*</strong></label>
                  <input formControlName="fechaInicio" type="date" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                  <label for="input_id" class="fw-bold mb-1 input-label">Seleccione la Fecha de Inicio <strong class="text-danger">*</strong></label>
                  <input formControlName="fechaFin" type="date" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                  <label for="input_etapa" class="fw-bold mb-1 input-label">Seleccione la Etapa <strong class="text-danger">*</strong></label>
                  <select formControlName="etapa" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" id="input_etapa" >
                    <option>Lectiva</option>
                    <option>Productiva</option>
                  </select>
                  <label for="input_id" class="fw-bold mb-1 input-label">seleccione el Estado <strong class="text-danger">*</strong></label>
                  <select formControlName="estado" class="w-100 rounded-3 border border-1 p-2 text-secondary fs-4 input" >
                    <option>Activo</option>
                    <option>inactivo</option>
                  </select>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                <button type="button" class="btn btn-primary"(click)="addFicha()" (click)="show()" [disabled]="fichasData.invalid" >Crear Ficha</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Actualizar</button>
        <button class="btn btn-danger w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Borrar</button>
    </div>
    <div class="row row-cols-6 w-100 my-2 m-0 text-center rounded-2 text-white fw-bold justify-content-between order-data">
        <p class="align-self-center fs-5 ">Nombre Programa</p>
        <p class="align-self-center fs-5 ">Nro ficha</p>
        <p class="align-self-center fs-5 ">Centro correspondiente</p>
        <p class="align-self-center fs-5 ">Instructor designado</p>
        <p class="align-self-center fs-5 ">Etapa</p>
        <p class="align-self-center fs-5 ">Estado</p>
    </div>
    <td *ngFor="let ficha of fichas" class="row row-cols-6 fs-6 fw-semibold mx-1 my-1 text-center w-100 ">
        <tr class="data-square rounded-3">{{ficha.programa}}</tr>
        <tr>{{ficha.id}}</tr>
        <tr class="data-square rounded-3">{{ficha.centro}}</tr>
        <tr>{{ficha.instructor}}</tr>
        <tr class="data-square rounded-3">{{ficha.etapa}}</tr>
        <tr >{{ficha.estado}}</tr>
    </td>
      
</div>
