<div class="row rounded-4 overflow-hidden mx-1 my-3 shadow bg-white">
    <p class="col-12 w-100 text-center text-white fs-3 fw-bold tittle"> Formatos De Seguimiento</p>
    <app-inputs Titlle="Buscar" class="col-5"></app-inputs>
    <div class="col-6 p-0 w-auto h-auto align-self-center">
        <button class="btn btn-success w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2" >Crear</button>
        
        <button class="btn btn-primary w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Actualizar</button>
        <button class="btn btn-danger w-auto h-auto fw-bold fs-5 py-0 mx-3 col-2">Borrar</button>
    </div>
    <div class="row row-cols-3 w-100 my-2 m-0 text-center rounded-2 text-white fw-bold justify-content-between order-data">
        <p class="align-self-center fs-5 ">Id</p>
        <p class="align-self-center fs-5 ">Instructor</p>
        <p class="align-self-center fs-5 ">Fecha</p>
    </div>
    <td *ngFor="let formato of formatos" class="row row-cols-3 fs-6 fw-semibold mx-1 my-1 text-center text-break w-100 ">
        <tr class="data-square rounded-3">{{formato.id}}</tr>
        <tr>{{formato.instructor}}</tr>
        <tr class="data-square rounded-3">{{formato.fecha}}</tr>
        <!-- <tr>{{encuesta.contacto}}</tr>
        <tr class="data-square rounded-3 ">{{encuesta.email}}</tr> -->
    </td>
</div>

