<div class="row p-0 m-0 vh-100 ">
    <app-slidebar class="col-auto p-0 h-100" (EventSeccion)="seccionValue($event)"></app-slidebar>
    <div class="col scroll-section mh-100 px-2">
        <div class="col-12 m-5"></div>
        <div *ngIf="Seccion == 'TABLAS'" class="row m-0">
            <app-aprendices class="col-12 col-xl-6"></app-aprendices>
            <app-centros-formacion class="col-12 col-xl-6"></app-centros-formacion>
            <app-fichas class="col-12 col-xl-6"></app-fichas>
            <app-formatos class="col-12 col-xl-6"></app-formatos>
            <app-instructores class="col-12 col-xl-6"></app-instructores>
            <app-programas class="col-12 col-xl-6"></app-programas>
        </div>
        <div *ngIf="Seccion=='ACTUALIZAR'" class="">
            <app-update-aprendiz></app-update-aprendiz>
            <app-update-centro></app-update-centro>
            <app-update-ficha></app-update-ficha>
            <app-update-formato></app-update-formato>
            <app-update-instructor></app-update-instructor>
            <app-update-programa></app-update-programa>
        </div>
        <div *ngIf="Seccion=='CREAR'" class="">
            <app-create-aprendiz></app-create-aprendiz>
            <app-create-centro></app-create-centro>
            <app-create-ficha></app-create-ficha>
            <app-create-formato></app-create-formato>
            <app-create-instructor></app-create-instructor>
            <app-create-programa></app-create-programa>
        </div>
        <div *ngIf="Seccion=='BORRAR'">

        </div>
    </div>
</div>