<div class="row p-0 m-0 vh-100 ">
    <app-slidebar class="col-auto p-0 h-100" (EventSeccion)="seccionValue($event)"></app-slidebar>
    <div class="col scroll-section mh-100 px-2">
        <div class="col-12 m-5"></div>
        <div *ngIf="Seccion == 'TABLAS'" class="row m-0">
            <app-aprendices class="col-12 col-xl-6"></app-aprendices>
            <app-centros-formacion class="col-12 col-xl-6"></app-centros-formacion>
            <app-fichas class="col-12 col-xl-6"></app-fichas>
            <app-formatos class="col-12 col-xl-6"></app-formatos>
            <app-instructores class="col-12 col-xl-6"></app-instructores>
            <app-programas class="col-12 col-xl-6"></app-programas>
        </div>
        <div *ngIf="Seccion=='ACTUALIZAR'" class="row m-0">
            <app-update-aprendiz class="col-12 col-xl-6"></app-update-aprendiz>
            <app-update-centro class="col-12 col-xl-6"></app-update-centro>
            <app-update-ficha class="col-12 col-xl-6"></app-update-ficha>
            <app-update-formato class="col-12 col-xl-6"></app-update-formato>
            <app-update-instructor class="col-12 col-xl-6"></app-update-instructor>
            <app-update-programa class="col-12 col-xl-6"></app-update-programa>
        </div>
        <div *ngIf="Seccion=='CREAR'" class="row m-0">
            <app-create-aprendiz class="col-12 col-xl-6"></app-create-aprendiz>
            <app-create-centro class="col-12 col-xl-6"></app-create-centro>
            <app-create-ficha class="col-12 col-xl-6"></app-create-ficha>
            <app-create-formato class="col-12 col-xl-6"></app-create-formato>
            <app-create-instructor class="col-12 col-xl-6"></app-create-instructor>
            <app-create-programa class="col-12 col-xl-6"></app-create-programa>
        </div>
        <div *ngIf="Seccion=='BORRAR'">

        </div>
    </div>
</div>