header{
  background: var(--principal-color);
}
#logo-sena{
  max-width: 250px;
}
#logo-sena svg {
  max-width: 200px !important;
}
.slidebar{
  height: 100vh;
  background: var(--principal-color);
  width: 100px;
  transition: 0.5s;
  transition-property: left;
  
}
.main{
  padding: 2.1rem 1.5rem;
  min-height: calc(100vh - 90px);
}
