:root{
    --principal-color:rgb(57, 169, 0);
    --principal-color-disabled:rgba(56, 169, 0, 0.585);
    --principal-color-opacity-10: rgb(57, 169, 0);
    --principal-color-shadow: rgba(56, 169, 0, 0.326);
    --text-color-bold: rgb(57, 169, 0);
}