<div class="row row-cols-2 w-100">
    <app-slidebar class="col-2 w-auto h-auto" (EventSeccion)="seccionValue($event)"></app-slidebar>
    
    <app-fichas *ngIf="Seccion == 'FICHAS'" class="w-75"></app-fichas>
    <app-instructores *ngIf="Seccion == 'INSTRUCTOR'" class="w-75"></app-instructores>
    <app-centros-formacion *ngIf="Seccion == 'CENTROFORMACION'" class="w-75"></app-centros-formacion>
   <app-encuestas *ngIf="Seccion == 'ENCUESTAS'" class="w-75"></app-encuestas>
    <app-aprendices *ngIf="Seccion == 'APRENDICES'" class="w-75"></app-aprendices>
</div>