<div class="row justify-content-center vh-100 wh-100  m-0 p-0 principal-container">
    <div class="row row-cols-2  bg-white  align-self-end  m-0 p-0 rounded-top general-container overflow-auto">
        <app-slidebar class="col-1 p-0" (EventSeccion)="seccionValue($event)"></app-slidebar>
        <div *ngIf="Seccion == 'TABLAS'" class=" col-10 p-0">
            <app-aprendices></app-aprendices>
            <app-centros-formacion></app-centros-formacion>
            <app-fichas></app-fichas>
            <app-formatos></app-formatos>
            <app-instructores></app-instructores>
            <app-programas></app-programas>
        </div>
        <div *ngIf="Seccion=='ACTUALIZAR'">

        </div>
        <div *ngIf="Seccion=='CREAR'">

        </div>
        <div *ngIf="Seccion=='BORRAR'">

        </div>
    </div>

</div>